<div id="<%= dom_id admin %>">
  <p>
    <strong>Name:</strong>
    <%= admin.name %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= admin.phoneNumber %>
  </p>

  <p>
    <strong>Emailaddress:</strong>
    <%= admin.emailAddress %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= admin.password %>
  </p>

  <p>
    <strong>Adminid:</strong>
    <%= admin.adminId %>
  </p>

  <p>
    <strong>Permission:</strong>
    <%= admin.permission %>
  </p>

</div>
