<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= student.phoneNumber %>
  </p>

  <p>
    <strong>Emailaddress:</strong>
    <%= student.emailAddress %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= student.password %>
  </p>

  <p>
    <strong>Studentid:</strong>
    <%= student.studentId %>
  </p>

  <p>
    <strong>Program:</strong>
    <%= student.program %>
  </p>

</div>
