<div id="<%= dom_id mentor %>">
  <p>
    <strong>Name:</strong>
    <%= mentor.name %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= mentor.phoneNumber %>
  </p>

  <p>
    <strong>Emailaddress:</strong>
    <%= mentor.emailAddress %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= mentor.password %>
  </p>

  <p>
    <strong>Mentorid:</strong>
    <%= mentor.mentorId %>
  </p>

  <p>
    <strong>Verificationstatus:</strong>
    <%= mentor.verificationStatus %>
  </p>

</div>
