<p style="color: green"><%= notice %></p>

<div style="text-align: center; padding-top:100px;">
  <h1>Forum</h1>

  <div id="posts">
    <% @posts.each do |post| %>
      <p><strong>Name:</strong> <%= post.student.name %></p>
      <p><strong>Student ID:</strong> <%= post.student.studentId %></p>
      <p><strong>Content:</strong> <%= post.content %></p>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    <% end %>
  </div>

  <%= link_to "New post", new_post_path %>
</div>
