<p style="color: green"><%= notice %></p>

<div style="text-align: center; padding-top:100px;">
  <h1>Forum</h1>
  <%= link_to "New post", new_post_path, class: "btn btn-primary btn-lg mb-3" %>


  <div id="posts">
    <% @posts.each do |post| %>
      <div style="border: 1px solid #000; padding: 10px; margin-bottom: 10px; width: 33%; margin: 0 auto;">
        <p style="font-size: 16px; font-weight: bold;"><%= post.student.name %> (<%= post.student.studentId %>)</p>
        <p style="margin-top: 5px; text-align: justify;"><%= post.content %></p>
        <p>
          <%= link_to "Show this post", post %>
        </p>
      </div>
    <% end %>
  </div>
</div>
